@model SistemaWebMisRecetas.Models.Receta;


@{
    ViewData["Title"] = "Create";
}

    <h1>Crear Receta</h1>
@using (Html.BeginForm("Create", "Receta", FormMethod.Post))
{
                <p> 
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
                </p>

                <p> 
        @Html.LabelFor(model => model.Categoria)
        @Html.TextBoxFor(model => model.Categoria)
        @Html.ValidationMessageFor(model => model.Categoria)
                 </p>
                    <p> 
        @Html.LabelFor(model => model.Ingredientes)
        @Html.TextBoxFor(model => model.Ingredientes)
        @Html.ValidationMessageFor(model => model.Ingredientes)
                     </p>
                    <p> 
        @Html.LabelFor(model => model.Instrucciones)
        @Html.TextBoxFor(model => model.Instrucciones)
        @Html.ValidationMessageFor(model => model.Instrucciones)
                     </p>

                 <p> 
        @Html.LabelFor(model => model.NombreAutor)
        @Html.TextBoxFor(model => model.NombreAutor)
        @Html.ValidationMessageFor(model => model.NombreAutor)
                 </p>
                 <p>
        @Html.LabelFor(model => model.ApellidoAutor)
        @Html.TextBoxFor(model => model.ApellidoAutor)
        @Html.ValidationMessageFor(model => model.ApellidoAutor)
                 </p>
                     <p>
        @Html.LabelFor(model => model.EdadAutor)
        @Html.TextBoxFor(model => model.EdadAutor)
        @Html.ValidationMessageFor(model => model.EdadAutor)
                     </p>
                     <p>
        @Html.LabelFor(model => model.EmailAutor)
        @Html.TextBoxFor(model => model.EmailAutor)
        @Html.ValidationMessageFor(model => model.EmailAutor)
                     </p>

                 <input type="submit" action="Create"/>

    @Html.ActionLink("Volver a Index", "Index", "Receta")

}
