@model SistemaWebMisRecetas.Models.Receta;

@{
    ViewData["Title"] = "Detalle";
}
@section SideBar {
    @Html.ActionLink("Nueva Receta", "Create", "Receta")
}
    <h2> Ver Detalles</h2>
@Html.ActionLink("Volver al index", "Index", "Receta")
    <p>
    @Html.DisplayNameFor(model => model.Nombre): 
    @Html.DisplayFor(model => model.Nombre)
    </p>
    <p>
    @Html.DisplayNameFor(model => model.Categoria): 
    @Html.DisplayFor(model => model.Categoria)
    </p>
    <p>
    @Html.DisplayNameFor(model => model.Ingredientes): 
    @Html.DisplayFor(model => model.Ingredientes)
    </p>
    <p>
    @Html.DisplayNameFor(model => model.Instrucciones): 
    @Html.DisplayFor(model => model.Instrucciones)
    </p>
    <p>
    @Html.DisplayNameFor(model => model.NombreAutor): 
    @Html.DisplayFor(model => model.NombreAutor)
    </p>
    <p>
    @Html.DisplayNameFor(model => model.ApellidoAutor): 
    @Html.DisplayFor(model => model.ApellidoAutor)
    </p>
    <p>
    @Html.DisplayNameFor(model => model.EdadAutor): 
    @Html.DisplayFor(model => model.EdadAutor)
    </p>
    <p>
    @Html.DisplayNameFor(model => model.EmailAutor): 
    @Html.DisplayFor(model => model.EmailAutor)
    </p>
